/*font-family: 'Inconsolata', monospace;
font-family: 'Noto Sans', sans-serif;*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 75px;
}

#hamburger {
  font-size: 40px;
  font-weight: bolder;
  margin-right: 30px;
  color: white;
  background-color: transparent;
  border-color: transparent;
}

#home {
  /* The image used */
  background-image: url("../img/code-wallpaper-3.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {

}

#projects {
  /* The image used */
  background-image: url("../img/code-wallpaper-1.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
    /* Set a specific height */
    height: 100%;
}
